* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.hi {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 50px;
}

.hello {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url(./hello\ 2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

header {
    padding: 30px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #D0967D;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 20px;
}

nav .hamb {
    width: 35 px;
    height: 24px;
    right: 3px;
    top: 60px;
    z-index: 5;
    background: white;
    position: absolute;
    cursor: pointer;
    display: none;
}

nav .hamb span {
    display: block;
    background: #D0967D;
    width: 100px;
    height: 3px;
    transition: .3s;
    transition-property: transform, opacity;
}

nav .hamb span:nth-child(2) {
    margin: 7px 0px;
}

nav .nav_list {
    list-style: none;
}

nav .nav_list li {
    display: inline-block;
}

nav .nav_list li a {
    display: inline-block;
    color: #194156;
    margin-left: 40px;
    font-size: 15px;
    font-weight: 600;
}

nav .nav_list li:not(:last-child) a:hover {
    color: #D0967D;
    transition: .4s;
}

nav .nav_list li.btn a {
    display: inline-block;
    background: transparent;
    border: 2px solid #194156;
    padding: 9px 25px;
    border-radius: 30px;
    line-height: 1.3;
    color: #194156;
    font-weight: 500;
}

nav .nav_list li.btn:hover a {
    color: white;
    background: #d0967d;
    border: 2px solid transparent;
    transition: .4s;
}

.titre {
    display: flex;
    justify-content: center;
    color: #194156;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 30px;
}

.cont {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 90px;
}

.card {
    background-color: #D0967D;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 40px;
    margin: 12px;
    padding-left: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #194156;
    font-size: 8em;
    text-align: center;
}

.infor {
    text-align: center;
}

.about {
    text-align: center;
}

.infor h3 {
    color: #194156;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.titre {
    display: flex;
    justify-content: center;
    color: #194156;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

section {
    background-color: #D0967D;
}

.piii {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    padding-top: 50px;
}

.titlecontact {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 30px;
}

.text {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    position: center;
}

.social-medi {
    width: 100%;
    height: 290%;
    background: #D0967D;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.social-medi a {
    width: 60px;
    height: 66px;
    margin-bottom: 50px;
    font-weight: bold;
    position: center;
    border-radius: 50%;
    align-items: center;
    font-size: 60px;
    color: #194156;
    margin-right: 20px;
    justify-content: center;
    margin-bottom: 25px
}

.social-medi a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 2px;
}

.icon a {
    margin: 0 10px;
    padding-bottom: 30px;
    padding-top: 20px;
    width: 60px;
    height: 66px;
    margin-bottom: 50px;
    font-weight: bold;
    position: center;
    border-radius: 50%;
    align-items: center;
    font-size: 60px;
    color: #194156;
    margin-right: 20px;
    transition: 0.7s ease;
    justify-content: center;
    margin-bottom: 60px
}

.icon a:hover {
    transform: scale(1.1);
}

.checkbtn {
    font-size: 30px;
    color: #194156;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width:1200px) {
    nav_list li a {
        font-size: 16px;
    }
}

@media (max-width:858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover {
        background: none;
        color: #194156;
    }
    #check :checked ul {
        left: 0;
    }
}